body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #D3B6E7;
    width: 15%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 1rem 1rem;
    font-size: 20px;
    transition: background-color 0.2s ease;
}

.sidebar ul li a {
    color: black;
    text-decoration: solid;
}

.sidebar ul li:hover {
    background-color: #826594;
}

.sidebar ul li:hover a {
    color: #f2f2f2;
}

.import-container {
    position: absolute;
    bottom: 1rem;
    left: 35%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.import-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.import-button img {
    width: 24px;
    height: 24px;
}

.import-text {
    margin-left: 0.5rem;
    opacity: 0;
    white-space: nowrap;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-10px);
}

.import-container:hover .import-text {
    opacity: 1;
    transform: translateX(0);
}